/* Main design */

body{
    background-color: beige;
}

.main-body{
    border: solid 2px black;
    height: 65rem;
    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-direction: column;
}

.main-footer{
    border: solid 2px black;
    height: 3rem;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}

.bottom-text{
    color: aliceblue;
}

/* Main page layout */
.projects{
    border: solid 2px thistle;
    height: 10rem;
    background-color: bisque;
    flex-basis: auto;
    width: 45rem;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.images{
    border: solid 2px black;
    height: 9.8rem;
}

.textone{
    font-size: 20px;
}

/* Information and project specific */

.main-divider{
    margin-top: 10%;
    height: 45rem;
    background-color: thistle;
    border: solid bisque 2px;
    width: 35rem;
    display: flex;
    flex-direction: column;
}

/* Project site specific */

.project-section{
    background-color: thistle;
    height: 15rem;
    
}

.triple-image{
    display: flex;
    flex-direction: row;
}

.bottom-row{
    background-color: thistle;
   
    width: 25rem;
}

.project-images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-one-images{
    display: flex;
    justify-content: center;
}

/* information specific */

.info-areas{
    display: flex;
    justify-content: center;
    align-items: center;
}