body{
    background-color: beige;
}

.main-body{
    border: solid 2px black;
    height: 48rem;
    display: flex;
    justify-content: space-between;

    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;


}

/* .separator{
    border: solid 2px greenyellow;
    display: flex;
    flex-wrap: wrap;
    width: 42rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 31rem;

} */

.projects{
    border: solid 2px yellow;
    height: 10rem;
    background-color: aqua;
    flex-basis: auto;
    width: 45rem;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.images{
    border: solid 2px black;
    height: 9.8rem;
}

#textone{
    font-size: 20px;
}

.main-footer{
    border: solid 2px black;
    height: 3rem;
    display: flex;
    background-color: black;
}